.topnav {
  background-color: #f3f4f3;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #0d0d0d;
  text-align: center;
  padding: 14px 16px;
  padding-left: 100px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: teal;
  color: white;
}

.btn {
  border-radius: 50px;
  padding: 14px 16px;
  font-size: 14px;
  padding-left: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(15, 179, 179);
  float: right;
}

.Brief {
  position: relative;
  float: right;
  text-align: center;
  padding-right: 50px;
  font-size: larger;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #fef9f8;
}

img {
  position: relative;
  float: right;
  padding-right: 280px;
  padding-top: 100px;
  height: auto;
  width: auto;
}

.myForm {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.8em;
  width: 20em;
  padding: 1em;
  border: 5px solid #ccc;
}

.myForm * {
  box-sizing: border-box;
}

.myForm fieldset {
  border: none;
  padding: 0;
}

.myForm legend,
.myForm label {
  padding: 0;
  font-weight: bold;
}

.myForm label.choice {
  font-size: 0.9em;
  font-weight: normal;
}

.myForm input[type="text"],
.myForm input[type="tel"],
.myForm input[type="email"],
.myForm input[type="datetime-local"],
.myForm select,
.myForm textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.9em;
  padding: 0.3em;
}

.myForm textarea {
  height: 100px;
}

.myForm button {
  padding: 1em;
  border-radius: 0.5em;
  background: teal;
  border: none;
  font-weight: bold;
  margin-top: 1em;
  text-decoration-color: #f3f4f3;
}

.myForm button:hover {
  background: #ccc;
  cursor: pointer;
}
